.backImg{
    background-image: url('../assets/Images/Profile_wave.svg');
    background-position: center;
    background-size:cover;
}

.footerImg{
    background-image: url('../assets/Images/wave.svg');
    background-size:cover;
    background-position: calc(100%);
}



